@import 'variables'
@import'button' 
@import 'mixins'
@import 'plugins'

body
    margin: 20px

.p-esp
    @include special

h2
    @extend %special
    @include green

.esp-menor
    @include espacamento(10px,10px)
    @include custom-border(red)
    @include colors
    @extend %font-pattern


.esp-medio
    @include espacamento(15px,15px)
    @include custom-border(dotted,blue,3px)
    @include colors($background:indigo)
    @extend %font-pattern


.esp-maior
    @include espacamento(25px,25px)
    @include custom-border(blue)
    @include colors($background:green,$font:yellow)


.esp-maior-ainda
    $pad: 50px
    $mag: 50px
    @include espacamento($pad,$mag)
    @include custom-border(indigo,5px)


