body{
    background-color:#CCC
}

.container{
    display:flex;
    width:100%;
    background-color:#FFF;
}

.box{
    height: 100px;
    flex-basis: 100px;
    flex-grow: 1;
}

.first{
    background-color: red;
    flex-shrink: 1;
}

.second{
    background-color: green;
    flex-shrink: 1;
}

.third{
    background-color: blue;
    flex-shrink: 2;
}