body{
    background-color:#CCC
}

.container{
    display:flex;
    flex-direction: row;
    width:100%;
    height:300px;
    background-color:#FFF;
    justify-content: center;
    align-items: center;
}

.box{
    width: 100px;
    height: 100px;
}

.first{
    background-color: red;
}

.second{
    background-color: green;
}

.third{
    background-color: blue;
}