body{
    background-color:#CCC
}

.container{
    display:flex;
    flex-direction: column;
    width:100%;
    background-color:#FFF;
}

.box{
    height: 100px;
    flex-grow: 1;
    flex-basis: 300px;
}

.first{
    background-color: red;
}

.second{
    background-color: green;
}

.third{
    background-color: blue;
}